---
import  Layout  from "../../components/BaseLayout.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("blog", ({data}) => {
	 return import.meta.env.PROD ? data.draft !== true : true;
}).then((posts) => posts.sort((a, b) => Date.parse(b.data.pubDate) - Date.parse(a.data.pubDate)));

---
<Layout
 title="Blog"
 description="A collection of articles written by me."
 url=`${Astro.site}/archive`
>
    <div class="flex flex-col gap-4" aria-label="Recent Articles">
        <h2 class="text-gray-800 dark:text-gray-100 font-semibold text-3xl">
            Articles
        </h2>
        <div class="flex flex-col gap-4 text-xl">
            {allPosts.map((blog)=> (
                <ul class="group">
                    <li class="list-disc">
                        <time class="text-lg text-gray-700 dark:text-gray-300 dark:group-hover:text-amber-500 dark:subpixel-antialiased" datetime={new Date(blog.data.pubDate).toISOString()}>{new Date(blog.data.pubDate).toLocaleDateString()}</time> -
                        <a class="text-blue-500 dark:text-blue-400 group-hover:text-blue-800 dark:group-hover:text-blue-400 group-hover:underline text-xl font-medium" href=`/archive/${blog.slug}` data-astro-prefetch>
                            {blog.data.title}
                        </a>

                        <p class="text-gray-600 dark:text-gray-200 text-lg">
                        { blog.data.description }
                        </p>
                    </li>
                </ul>
            ))}
        </div>
    </div>
</Layout>
