---
import Layout from '../components/BaseLayout.astro'
import { Image } from 'astro:assets'
import avatar from "../assets/pfp.avif"

---
<Layout title="About" description="This page is about Ishan Jaiswal" url={Astro.site}>
	<article class="text-gray-800 dark:text-gray-100 prose dark:prose-invert max-w-none text-lg">
     <div class="flex justify-center items-center">
      <Image src={avatar} class="rounded-lg" height="250 " width="250" alt="Logo"  />  
     </div>
		<slot />
	</article>
</Layout>
